# for local dev
DATABASE_URL=postgres://username:password@localhost/diesel_demo
# used with Docker
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=diesel_demo
# there is no open ssl in the container, so run
# openssl rand -base64 32
ROCKET_SECRET_KEY=generateakeylikeinthecomment
